<STYLE>


BODY	{font-family: Consolas; front-size: 12pt; color:black}

TABLE	{font-family: Magneto; front-size: 12pt; color:yellow}

H1	{
	font-family: Forte;
	front-size: 20pt;
	color: #0F0
}

H2	{font-family: doctum; front-size: 17pt; color:blue}

H3	{font-family: Impact; front-size: 15pt; color:purple}

P	{font-family: Verdana; front-size: 12pt; color:brown}






</STYLE>
